body {
   background: rgb(66, 66, 66);
   text-align: center;
   justify-content: space-between;
}
.color-hover {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 70px;
}
.color {
   width: 20%;
   margin: 3px;
   height: 10vh;
   width: 25vh;
}
.red {
   background: red;
   color: red;
}
.cyan {
   color: cyan;
   background: cyan;
}
.violet {
   color: violet;
   background: violet;
}

.orange {
   color: orange;
   background: orange;
}
.pink {
   color: pink;
   background: pink;
}

.center {
   height: 30vh;
   width: 30vh;
   border-radius: 50%;
   display: inline-block;
   margin-top: 100px;
   padding: 50px;
}
